In [10]:
import pandas as pd
df = pd.read_csv("producto.csv", sep=';')
print(df)

       Nombre Producto  Precio   Ciudad  Poder_Adquisitivo
0   Mercadona    leche    0.89  Granada                900
1        Dani    leche    0.82  Granada                750
2        Lidl    leche    0.79  Granada                800
3        Aldi    leche    0.77  Granada                850
4   Carrefour    leche    0.75  Granada               1000
5     Coviran    leche    0.78  Granada                875
6   Mercadona    Arroz    0.75  Almeria                950
7        Dani    Arroz    0.72  Almeria                600
8        Lidl    Arroz    0.78  Almeria                800
9        Aldi    Arroz    0.79  Almeria                750
10  Carrefour    Arroz    0.72  Almeria               1200
11    Coviran    Arroz    0.74  Almeria                900
12  Mercadona      pan    0.45   Malaga               1000
13       Dani      pan    0.46   Malaga                800
14       Lidl      pan    0.43   Malaga                900
15       Aldi      pan    0.48   Malaga                950
16  Carrefour      pan    0.50   Malaga               1100
17    Coviran      pan    0.42   Malaga                800

In [25]:
def producto(articulo):
    global leche
    global arroz
    global pan
    if articulo == 'Arroz':
        arroz=df.loc[df['Producto'] == 'Arroz'].loc[df['Precio'] <= 0.75]
        print(arroz)
    if articulo == 'leche':
        leche=df.loc[df['Producto'] == 'leche'].loc[df['Precio'] <= 0.79]
        print(leche)
    if articulo == 'pan':
        pan=df.loc[df['Producto'] == 'pan'].loc[df['Precio'] <= 0.45]
        print(pan)

In [27]:
producto('Arroz')
producto('leche')
producto('pan')

       Nombre Producto  Precio   Ciudad  Poder_Adquisitivo
6   Mercadona    Arroz    0.75  Almeria                950
7        Dani    Arroz    0.72  Almeria                600
10  Carrefour    Arroz    0.72  Almeria               1200
11    Coviran    Arroz    0.74  Almeria                900
      Nombre Producto  Precio   Ciudad  Poder_Adquisitivo
2       Lidl    leche    0.79  Granada                800
3       Aldi    leche    0.77  Granada                850
4  Carrefour    leche    0.75  Granada               1000
5    Coviran    leche    0.78  Granada                875
       Nombre Producto  Precio  Ciudad  Poder_Adquisitivo
12  Mercadona      pan    0.45  Malaga               1000
14       Lidl      pan    0.43  Malaga                900
17    Coviran      pan    0.42  Malaga                800